extends layout


block content
  h1= title
  div#graphContainer Welcome to #{title}
  script.
    function getNodes() {
      fetch('/runFunction', {method: 'POST'})
              .then(function (response) {
                if (!response.ok) {
                  throw new Error('Bad status code from server.');
                }
                return response.json();
              })
              .then(function (data) {
                  meinGraph = new graphology.Graph();
                  console.log(data);
                  meinGraph.import(data);
                  const sigmaInstance = new Sigma(meinGraph, document.getElementById('graphContainer'));
              })
              .catch(function (err) {
                console.error('Fehler:', err);
              });
    }
  button(onclick="getNodes()") Graph anzeigen

